// $theme-colors: (
//     "primary": #eee,
//     "danger": #ff4136
//     );

@import "bootstrap";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body {
    padding-top: 87px;
};

.icon-desc {
    display:none;
};

.cm-s-default {
    background-color: $gray-100;
    padding: 1rem * .5;
    border: 1px solid #dee2e6 ;
    border-radius: 5px;
};

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

@media (max-width: 767px) {
    .icon-desc {
        display:inline;
    };
    .svg-inline--fa {
        font-size: 18px !important;
    };
};


// .edIcon path {
//     fill: $red;
//     stroke: $red !important;
// };

// .edIcon line {
//     fill: $red;
//     stroke: $red !important;
// };

// .edIcon circle {
//     fill: $red;
//     stroke: $red !important;
// };